BACKEND_ENV_FILE=./ops/env/backend.staging.env
POSTGRES_DB=c2p_staging
POSTGRES_USER=c2p_staging
POSTGRES_PASSWORD=replace-with-strong-staging-postgres-password
REDIS_PASSWORD=replace-with-strong-staging-redis-password
BACKEND_DNS_PRIMARY=1.1.1.1
BACKEND_DNS_SECONDARY=8.8.8.8
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=replace-with-strong-staging-grafana-password
GF_SERVER_ROOT_URL=http://127.0.0.1:3004
SONAR_POSTGRES_DB=sonarqube_staging
SONAR_POSTGRES_USER=sonarqube_staging
SONAR_POSTGRES_PASSWORD=replace-with-strong-staging-sonarqube-postgres-password
SONAR_WEB_JAVAOPTS="-Xms128m -Xmx512m"
SONAR_CE_JAVAOPTS="-Xms128m -Xmx512m"
SONAR_SEARCH_JAVAOPTS="-Xms512m -Xmx512m"
BACKUP_RETENTION_DAYS=7
BACKUP_CRON_SCHEDULE="15 3 * * *"
